
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');



html, body, #root{
  width: 100%;
  min-height: 100%;
}

body{
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  /* background-image: url('./media/scott-webb-mV9-1XjnM4Y-unsplash.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #262626;
  background-position: top 50% center;
  background-repeat: no-repeat; */
}

.navbar-container{
  background: rgba(0, 0, 0, 0.9)
}

.mobile-nav-link{
  @apply w-full cursor-pointer flex justify-center items-center font-bold h-[6em] hover:text-primary
}

.hero-container{
  /* background: linear-gradient(0deg, rgba(35,57,91,1) 0%, rgba(138,225,252,1) 100%); */
  /* background-image: url('./media/scott-webb-mV9-1XjnM4Y-unsplash.jpg'); */
  background-image: url('./media/pexels-la-miko-3616764.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  /* background-color: #262626; */
  background-color: #585757;
  background-position: top 50% center;
  background-repeat: no-repeat;
}

.custom-shape-divider-bottom-1668563101 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1668563101 svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1668563101 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1668563140 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1668563140 svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-1668563140 .shape-fill {
  fill: #FFFFFF;
}


.about-container{
  /* background: linear-gradient(0deg, rgba(64,110,142,1) 0%, rgba(35,57,91,1) 100%); */
  background-color: white;
}

.tech-icons{
  @apply text-secondary w-24 h-24 cursor-default;
}

.projects-container{
  /* background: linear-gradient(0deg, rgba(22,25,37,1) 0%, rgba(64,110,142,1) 100%); */
  /* background-image: url('./media/scott-webb-mV9-1XjnM4Y-unsplash.jpg'); */
  background-image: url('./media/pexels-la-miko-3616764.jpg');

  background-size: cover;
  background-blend-mode: multiply;
  background-color: #585757;
  background-position: top 50% center;
  background-repeat: no-repeat;
}

.cursor-grab{
  cursor: default;
}

[data-testid="carousel-right-control"],
[data-testid="carousel-left-control"]{
  display: none;
}

.project-links-wrapper{
  position: absolute;
  right: 15%;
}

.project-links{
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.project-links:hover{
  color: #F5985B;
  transform: rotate(360deg);
}

footer{
  background: rgba(0, 0, 0, 0.9)
}

