
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
  width: 100%;
  min-height: 100%;
}

body{
  min-height: 100%;
  background-image: url('./media/bharath-g-s-aLGiPJ4XRO4-unsplash.jpg');
  background-size: contain;
  background-blend-mode: multiply;
  background-color: #64748B;
  background-position: fixed;
  /* background-repeat: no-repeat; */
}

/* .bg-gradient{
  filter: brightness(50%);
} */

