
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body, #root{
  width: 100%;
  min-height: 100%;
}

body{
  min-height: 100%;
  background-image: url('./media/scott-webb-mV9-1XjnM4Y-unsplash.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #262626;
  background-position: top 50% center;
  background-repeat: no-repeat;
}

.navbar-container{
  background: rgba(0, 0, 0, 0.9)
  
}

.cursor-grab{
  cursor: default;
}

[data-testid="carousel-right-control"],
[data-testid="carousel-left-control"]{
  display: none;
}

.project-links-wrapper{
  position: absolute;
  right: 15%;
}

.project-links{
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.project-links:hover{
  color: #F5985B;
  transform: rotate(360deg);
}



